.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.feedback-success-container {
  position: fixed;
  width: 100%;
  z-index: 999;
}

div.feedback-success {
  margin: 20px 50px;
}

.beta-div-container {
  position: fixed;
  z-index: 999999;
  font-size: 2rem;
  font-family: 'Montserrat';
  font-weight: 700;
  color: black;
  opacity: 0.4;
  margin-left: 10px;
  bottom: 0;
}

.standalone-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.standalone-inner-container {
  /*border: 1px solid black;*/
  border-radius: 15px;
  padding: 10px;
  background-color: #defc5f
}

button.standalone-submit-button {
  display: block;
  margin: auto;
}