select {
    appearance: none;
    border: none;
    background-color: #323232;
    padding: 5px 10px;
    color: white;
    font-family: 'Montserrat';
    background-image: url('icons/arrow.png');
    width: 100%;
}

select:disabled {
    filter: contrast(0.4);
}

.dropdown-arrow {
    position: absolute;
    filter: invert();
    margin-top: 7px;
    right: 7px;
    pointer-events: none;
}