table.mini-predictions-table {
    margin-top: 20px;
    margin-bottom: 20px;
}

table.mini-table td, table.mini-table th {
    text-align: center;
}

span.match-finished {
    background-color: rgb(255, 210, 48);
    border-radius: 5px;
    padding: 5px 10px;
}

span.match-inplay {
    background-color: rgb(255, 33, 33);
    border-radius: 5px;
    padding: 5px 10px;
}

.equal-height-card-row > .col-md-6 > .card {
    height: 100%;
}

.header-row > div > h3 {
    text-align: center;
}

div.outer-dashboard-container {
    background-color: #d7fd35;
}