.pred-container {
  max-width: 400px;
  margin: auto;
  display: flex;
  background-color: green;
  margin-bottom: 50px;
}

.pred-container > div {
  display: inline;
  min-width: 33.333%;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}