.kick-off-time-container {
  text-align: center
}

.outer-pred-container {
  max-width: 800px;
  margin: auto;
  /*background-color: #6B4BFB;*/
  margin-bottom: 50px;
  border-radius: 25px;
}

.pred-container {
  display: flex;
  padding: 20px;
}

.pred-container > div {
  display: inline;
  min-width: 33.333%;
  text-align: center;
}

.live-score {
  margin: auto;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

@keyframes pulse-dot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pulsing-circle {
  margin-right: 5px;
  font-size: 18px;
  width: 10px;
  height: 10px;
  border-radius: 45px;
  background-color: white;
  animation: pulse-dot 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.right-col {
  background-color: #323232;
  min-height: 100vh;
}

.left-col-prediction-text {
  color: #323232;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  white-space: pre;
}

.left-col-prediction-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.left-col-prediction-outer-container {
  display: flex;
  justify-content: center;
}

.predictions-form {
  margin-top: 50px;
}

.predictions-form-submit-button {
  margin-top: 10px;
  border: none;
  background-color: #323232;
  color: white;
  border-radius: 5px;
  font-family: 'Montserrat';
  padding: 5px 0;
}

.predictions-form-submit-button:active {
  background-color: black;
}

.left-col-prediction-outer-container > div.alert {
  position: fixed;
  margin-top: 10px;
}

.score-container {
  margin: auto;
  background-color: #defc5f;
  padding: 20px;
  border-radius: 10px;
}

.prediction-circle {
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translateY(-50px) translateX(-50px);
  background-color: #defc5f;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.home-team-container, .away-team-container {
  position: relative;
}

.club-badge {
  position: relative;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
}