.win {
    background-color: #13cf00;
    border-radius: 100%;
    color: white;
    line-height: 2rem;
    width: 2rem;
    font-size: .98rem;
    font-weight: 400;
    display: inline-block
}
.lose {
    background-color: #d81920;
    border-radius: 100%;
    color: white;
    line-height: 2rem;
    width: 2rem;
    font-size: .98rem;
    font-weight: 400;
    display: inline-block
}
.draw {
    background-color: #76766f;
    border-radius: 100%;
    color: white;
    line-height: 2rem;
    width: 2rem;
    font-size: .98rem;
    font-weight: 400;
    display: inline-block
}