table.lastfive tr>td>p {
    display:inline;
    vertical-align: middle;
}

span.score{
    background-color: #37003c;
    color:white;
    line-height: 2.4rem;
    min-width: 4.6rem;
    text-align: center;
    border-radius: 7px;
    display: inline-block;
}

span.homeTeam {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}

span.awayTeam {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.table.lastfive td {
    padding:5px 0;
    vertical-align: middle;
    text-align: center;
}

/* PREVIOUS MEETINGS */
li.previous-meeting {
    list-style-type: none;
    text-align: center;
    margin-top: 10px;
}

span.fixture-details {
    display:flex;

}

time.previous-meeting {
    font-size:1rem;
}

span.teamName {
    font-size:1.4rem;
    font-weight: bold;
}

span.home-team {
    flex:1;
    float: right;
    text-align: right;
}

span.away-team {
    flex:1;
    float: left;
    text-align: left;
}

span.home-team img {
    margin-right: 10px;
    margin-left: 10px;
}

span.away-team img {
    margin-right: 10px;
    margin-left: 10px;
}